<div class="container">

  <div class="row">

    <div class="col-auto mr-auto">
      <h3>Recipes</h3>
    </div>

    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/recipes/new">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        Add
      </a>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <caption>List of recipes</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Type</th>
            <th scope="col">Season</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of recipes$ | async"
            (click)="gotoRecipeDetail(recipe.id!)">
            <th scope="row">{{ recipe.id }}</th>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.location.name }}</td>
            <td>{{ recipe.type.name }}</td>
            <td>{{ recipe.season.name }}</td>
            <td>{{ recipe.difficulty.name }}</td>
            <td>{{ recipe.frequency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p *ngIf="errorMessage">
        <ngb-alert type="danger" [dismissible]="false">
          {{ errorMessage }}
        </ngb-alert>
      </p>
    </div>
  </div>

</div>
