<div class="container">

  <div class="row">

    <div class="col-auto mr-auto">
      <h3>Recipes</h3>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <caption>List of recipes</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Type</th>
            <th scope="col">Season</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of recipes$ | async">
            <th scope="row">{{ recipe.id }}</th>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.location.name }}</td>
            <td>{{ recipe.type.name }}</td>
            <td>{{ recipe.season.name }}</td>
            <td>{{ recipe.difficulty.name }}</td>
            <td>{{ recipe.frequency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p *ngIf="errorMessage">
        <ngb-alert type="danger" [dismissible]="false">
          {{ errorMessage }}
        </ngb-alert>
      </p>
    </div>
  </div>

</div>
