<div class="container">

  <div class="row">

    <div class="col-auto mr-auto">
      <h3>Ingredients</h3>
    </div>

    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/ingredients/new">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        Add
      </a>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <caption>List of ingredients</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Availability</th>
            <th scope="col">Supermarket</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of ingredients$ | async"
            (click)="gotoIngredientDetail(ingredient.id!)">
            <th scope="row">{{ ingredient.id }}</th>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.availability.name }}</td>
            <td>{{ ingredient.supermarket.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p *ngIf="errorMessage">
        <ngb-alert type="danger" [dismissible]="false">
          {{ errorMessage }}
        </ngb-alert>
      </p>
    </div>
  </div>

</div>
