svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

footer {
  margin: 8px auto;
  padding: 0 16px;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
