<div class="container">

  <div class="row">
    <div class="col">
      <h2 class="text-center">Administration Menu</h2>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/availabilities">Availabilities</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/difficulties">Difficulties</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/ingredients">Ingredients</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/locations">Locations</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/measureunits">Measure Units</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/recipetypes">Recipe Types</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/seasons">Seasons</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/supermarkets">Supermarkets</a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 my-2">
      <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/timeunits">Time Units</a>
    </div>

  </div>

</div>
