<div class="container">

  <div class="row">

    <div class="col-auto mr-auto">
      <h3>Seasons</h3>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <caption>List of seasons</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let season of seasons$ | async">
            <th scope="row">{{ season.id }}</th>
            <td>{{ season.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p *ngIf="errorMessage">
        <ngb-alert type="danger" [dismissible]="false">
          {{ errorMessage }}
        </ngb-alert>
      </p>
    </div>
  </div>

</div>
